body {
  font-family: "Circular" sans-serif;
}
h1 {
  font-size: 6rem;
}
.buttonlogo {
  width: 30px;
  height: 30px;
  font-size: x-large;
}
#menuBtn {
  display: flex;
}
.side-left {
  background-color: black;
}
.card-body {
  font-size: 12px;
}
#trackList:hover {
  background-color: #212426;
}
